<div class="tweets-timeline-container">
  <div class="tweets-header">
    <span class="header-badge">COMMUNITY</span>
    <h1>みんなの活動メモ</h1>
    <p>日々の活動の様子や、参加した感想をシェアしよう！</p>
    
    <%# --- 投稿ボタン：オレンジの大きなデザイン --- %>
    <div class="post-action-area">
      <%= link_to new_tweet_path, class: "main-post-btn" do %>
        <i class="fas fa-plus-circle"></i> 新しく投稿する
      <% end %>
    </div>

    <%# --- 検索フォーム --- %>
    <div class="search-box">
      <%= form_tag(tweets_path, method: :get, class: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "キーワードで検索...", id: "tweet-search" %>
        <%= submit_tag '検索', name: nil, class: "search-submit" %>
      <% end %>
    </div>
  </div>

  <div class="balloon-timeline">
    <% @tweets.each_with_index do |tweet, index| %>
      <div class="tweet-wrapper <%= 'reverse' if index.odd? %>">
        <div class="user-icon-circle">
          <%= tweet.user.email[0].upcase %>
        </div>
        
        <div class="tweet-balloon">
          <div class="balloon-tail"></div>
          <div class="tweet-meta">
            <span class="user-name"><%= tweet.user.email.split('@')[0] %></span>
            <span class="category-tag"><%= tweet.category %></span>
          </div>
          
          <h3 class="tweet-title"><%= tweet.title %></h3>
          <p class="tweet-text"><%= tweet.about %></p>
          
          <div class="tweet-media">
            <% if tweet.image.attached? %>
              <%= image_tag tweet.image %>
            <% end %>
            <% if tweet.video.present? %>
              <%= video_tag tweet.video_url, controls: true, width: "100%" %>
            <% end %>
          </div>

          <div class="tweet-footer">
            <%# --- いいね機能：Turbo Streamによる即時反映に対応 --- %>
            <div id="like-btn-<%= tweet.id %>" class="like-section">
              <% if user_signed_in? %>
                <% if tweet.liked_by?(current_user) %>
                  <%# DELETE送信を確実に認識させる data-turbo-method %>
                  <%= link_to tweet_likes_path(tweet), data: { turbo_method: :delete }, class: "like-btn active" do %>
                    <i class="fas fa-heart"></i> <span class="count"><%= tweet.likes.count %></span>
                  <% end %>
                <% else %>
                  <%# POST送信を確実に認識させる data-turbo-method %>
                  <%= link_to tweet_likes_path(tweet), data: { turbo_method: :post }, class: "like-btn" do %>
                    <i class="far fa-heart"></i> <span class="count"><%= tweet.likes.count %></span>
                  <% end %>
                <% end %>
              <% else %>
                <i class="far fa-heart"></i> <span class="count"><%= tweet.likes.count %></span>
              <% end %>
            </div>

            <%# --- アクションリンク --- %>
            <div class="tweet-actions">
              <%= link_to "詳細", tweet_path(tweet) %>
              <% if user_signed_in? && tweet.user_id == current_user.id %>
                <%# 削除を確実に実行させる data-turbo-method %>
                <%= link_to "削除", tweet_path(tweet), 
                            data: { turbo_method: :delete, turbo_confirm: "この投稿を削除しますか？" }, 
                            class: "delete-link" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>