<h1>SHNATISAHNTI</h1>
<h3>一覧ページ</h3>

<h3>投稿を検索</h3>
 <%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
   <%= text_field_tag :search %>
   <%= submit_tag '検索する'  %>
<% end %>

<%= link_to "新規投稿へ", new_tweet_path %>
<div class="tweets-container">
  <% @tweets.each do |t| %>
    <div class="tweet">
      <%=  video_tag t.video_url ,:controls => true if t.video?%>

      <% if t.image.attached? %>
         <%= image_tag t.image, size: '250x200'%>
      <% end %>

      <%= t.title %>
      <%= t.about %>
      
    <% if user_signed_in? %>
      <% if current_user.already_liked?(t) %>
          <%= link_to tweet_like_path(id: t.id, tweet_id: t.id), method: :delete do %>
             <i class="fa-solid fa-heart"></i><%= t.likes.count %>
          <% end %>
      <% else %>
          <%= link_to tweet_likes_path(id: t.id, tweet_id: t.id), method: :post do %>
             <i class="fa-solid fa-heart"></i><%= t.likes.count %>
          <% end %>
      <% end %>

      <% if current_user.id == t.user_id %>
        <%= link_to "編集する", edit_tweet_path(t.id) %>
        <%= link_to "削除する", tweet_path(t.id), method: :delete %>
      <% elsif current_user.admin? %>
        <%= link_to "管理者用編集", edit_tweet_path(t.id) %>
        <%= link_to "管理者用削除", tweet_path(t.id), method: :delete %>
      <% end %>

      <% if current_user.admin? %>
       <%= link_to "秘密のページへ", users_path %>
      <% end %>

    <% else %>
      <i class="fa-solid fa-heart"></i><%= t.likes.count %>
    <% end %>

      <%= t.category %>
      <%= t.user&.email %>
      <%= link_to "詳細へ", tweet_path(t.id) %>
      <%= link_to "編集する", edit_tweet_path(t.id) %>
      <%= button_to "削除する", tweet_path(t.id), method: :delete %>
    </div>
  <% end %>
</div>