<!DOCTYPE html>
<html>
  <head>
    <title>SHANTI</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header class="main-header">
      <div class="header-inner">
        <h1 class="logo"><%= link_to "SHANTI", root_path, class: "logo-link" %></h1>
        
        <nav class="auth-nav">
          <ul>
            <% if user_signed_in? %>
              <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-btn" %></li>
            <% else %>
              <li><%= link_to "新規登録", new_user_registration_path, class: "nav-btn" %></li>
              <li><%= link_to "ログイン", new_user_session_path, class: "nav-btn" %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
